<!doctype html>
<html>
<head>
  {% include header.html %}
   <!-- 地址栏显示 -->
 <link rel="Shortcut Icon" href="./ha.ico"  type="image/x-icon" />
 <!-- 收藏栏也显示 -->
 <link rel="Bookmark" href="./ha.ico" type="image/x-icon" />
</head>
<body>
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 aside3">
        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>
</html>